# For more information on this configuration file, see containers-registries.conf(5).

{% if registry_mirror_enable == true and registry_mirror_fqdn | length > 0 %}
[[registry]]
location = "docker.io"
[[registry.mirror]]
{% if registry_mirror_tls_enable == true %}
location = "{{ registry_mirror_fqdn }}"
{% elif registry_mirror_tls_enable == false %}
location = "{{ registry_mirror_fqdn }}"
insecure = true
{% endif %}
{% endif %}